{% extends 'layouts/base.html' %}

{% block title %}User Dashboard{% endblock %}

{% block header %}
{% endblock %}

<body class="d-flex align-items-center py-4 bg-body-tertiary">


{% block content %}
    <main class="form-signin w-100 m-auto">

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}


        <div class="text-center">
            <h1>DashBoard User</h1>
        </div>
        <div class="d-flex justify-content-between align-items-center">
            <div>
                <a style="padding: 5px" class="btn btn-primary" href="{{ url_for('main.web.profile') }}" role="button">Profile</a>
            </div>
            <div>
                <a href="{{ url_for('main.web.logout') }}">Logout</a>
            </div>
        </div>
        <br>
        <br>
        <table class="table">
            <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Full Name</th>
                <th scope="col">Username</th>
                <th scope="col">Email</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
            </tr>
            </thead>
            <tbody>
            {% if users %}
                {% for user in users %}
                    <tr>
                        <th scope="row">{{ loop.index }}</th>
                        <td>{{ user.fullname }}</td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                        <td><a href="{{ url_for('main.web.edit_user', user_id = user.id) }}" class="btn btn-primary">Edit</a>
                        </td>
                        <td><a href="{{ url_for('main.web.delete_user', user_id = user.id) }}" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="6">No users found.</td>
                </tr>
            {% endif %}
            </tbody>
        </table>

        <br>
    </main>
    </body>
{% endblock %}


{% block footer %}
    <script src={{ url_for('static', filename='js/bootstrap.bundle.min.js') }}></script>
{% endblock %}

