{% extends 'layouts/base.html' %}

{% block title %}Edit User{% endblock %}

{% block header %}
    <link href={{ url_for('static', filename='css/sign-in.css') }} rel="stylesheet">
{% endblock %}

{% block content %}
    <main class="form-signin w-100 m-auto">
        <form action="{{ url_for('main.web.edit_user') }}" method="POST">
            <h1 class="h3 mb-3 fw-normal">Edit User</h1>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            <input type="hidden" class="form-control" id="floatingFullname" name="user_id"
            value="{{ user.id }}" placeholder="Cristiano Ronaldo">
            <div class="form-floating">
                <input type="text" class="form-control" id="floatingFullname" name="new_fullname"
                       value="{{ user.fullname }}" placeholder="Cristiano Ronaldo">
                <label for="floatingFullname">Full Name</label>
            </div>
            <div class="form-floating">
                <input type="email" class="form-control" id="floatingEmail" name="new_email"
                       value="{{ user.email }}" placeholder="myemail@gmail.com">
                <label for="floatingEmail">Email address</label>
            </div>

            <div class="form-floating">
                <input type="text" readonly class="form-control" id="floatingUsername" name="new_username"
                       value="{{ user.username }}" placeholder="username">
                <label for="floatingUsername">User name</label>
            </div>

            <button class="btn btn-primary w-100 py-2" type="submit">Save Changes</button>
            <div>Back to <a href="{{ url_for('main.web.dashboard') }}">Dashboard</a></div>
        </form>
    </main>
{% endblock %}

{% block footer %}
    <script src={{ url_for('static', filename='js/bootstrap.bundle.min.js') }}></script>
{% endblock %}
